.user-png{
    width: 20px;
    height: auto;
}
.navbar-brand{
    color: red;
}
.btn-nav{
    background-color: red;
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
}

h2{
    color: red;
    display: inline;
}